<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.microedu.reader">

    <uses-permission
        android:name="android.permission.MANAGE_DOCUMENTS"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        tools:ignore="ScopedStorage" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />

    <application
        android:name="com.liuzhenli.reader.ReaderApplication"
        android:allowBackup="true"
        android:appComponentFactory="abc"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true"
        tools:ignore="AllowBackup,UnusedAttribute"
        tools:replace="android:theme,android:appComponentFactory">
        <activity android:name="com.liuzhenli.reader.ui.activity.ChangeSourceActivity" />
        <activity android:name="com.liuzhenli.reader.ui.activity.BookDetailActivity" />
        <activity
            android:name="com.micoredu.reader.ui.activity.BookSourceActivity"
            android:launchMode="singleTop" />
        <activity android:name="com.liuzhenli.reader.ui.activity.TabActivity" />
        <activity
            android:name="com.liuzhenli.reader.ui.activity.MainActivity"
            android:launchMode="singleTop">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.liuzhenli.reader.ui.activity.SplashActivity"
            android:launchMode="singleTop"
            android:theme="@style/AppTheme.FullScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <meta-data
                android:name="android.app.shortcuts"
                android:resource="@xml/shortcuts" />
        </activity>
        <activity
            android:name="com.liuzhenli.reader.ui.activity.LoginActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name="com.liuzhenli.reader.ui.activity.ImportLocalBookActivity" />
        <activity
            android:name="com.micoredu.reader.ui.activity.ReaderActivity"
            android:launchMode="singleTask"
            android:theme="@style/AppTheme.FullScreen" />

        <activity android:name="com.liuzhenli.reader.ui.activity.WebViewActivity" />
        <activity android:name="com.liuzhenli.reader.ui.activity.AboutActivity" />
        <activity android:name="com.liuzhenli.reader.ui.activity.BookListActivity" />
        <activity android:name="com.liuzhenli.reader.ui.activity.SettingActivity" />
        <activity android:name="com.liuzhenli.reader.ui.activity.SearchActivity" />
        <activity
            android:name="com.micoredu.reader.ui.activity.EditSourceActivity"
            android:configChanges="locale|keyboardHidden|orientation|screenSize|smallestScreenSize|screenLayout"
            android:launchMode="singleTask"
            android:windowSoftInputMode="adjustResize|stateHidden" />
        <activity android:name="com.liuzhenli.reader.ui.activity.ContentActivity" />
        <activity android:name="com.micoredu.reader.ui.activity.TestSourceActivity" />
        <activity android:name="com.liuzhenli.reader.ui.activity.BackupSettingActivity" />
        <activity android:name="com.liuzhenli.reader.ui.activity.FilePathsListActivity" />
        <activity android:name="com.liuzhenli.write.ui.activity.WriteBookActivity" />
        <activity android:name="com.micoredu.reader.ui.activity.BookChapterListActivity" />
        <activity android:name="com.micoredu.reader.ui.activity.DownloadActivity" />
        <activity android:name="com.liuzhenli.reader.ui.activity.DatabaseTableListActivity" />
        <activity android:name="com.liuzhenli.reader.ui.activity.DatabaseTableRecordDetailActivity" />
        <activity android:name="com.liuzhenli.reader.ui.activity.DatabaseTableRecordsActivity" />
        <activity android:name="com.liuzhenli.reader.ui.activity.QrCodeActivity" />
        <activity android:name="com.liuzhenli.reader.ui.activity.ManageBookShelfActivity" />

        <service android:name="com.micoredu.reader.service.CheckSourceService" />
        <service android:name="com.micoredu.reader.service.ReadAloudService" />
        <service android:name="com.micoredu.reader.service.ShareService" />
        <service android:name="com.micoredu.reader.service.DownloadService" />

        <meta-data
            android:name="UMENG_APPKEY"
            android:value="${UMENG_KEY}" />
        <meta-data
            android:name="UMENG_CHANNEL"
            android:value="${CHANNEL_NAME}" />
        <meta-data
            android:name="CHNL"
            android:value="${CHNL}" />
    </application>

</manifest>